<footer class="footer-color" id="fixed">
  <div class="container">
    <ul class="list-unstyled">
      <li>
        <a href="/sobre">Sobre</a>
      </li>
      <li>
        <a href="/contato">Contato</a>
      </li>
      <li>
        <a href="/ajuda">Ajuda</a>
      </li>
      <li>
        <a href="/politica_de_privacidade">Politica de Privacidade</a>
      </li>
      <li>
        <a href="#">Termos de Uso</a>
      </li>
      <li>
        <span>Grande Oeste Classificados © 2016
        </span>
      </li>
    </ul>
  </div>
</footer>
