<%= render 'publics/navbarpublics' %>
<ul id="menu">
  <li data-menuanchor="o_website">
    <a href="#o_website">
      <i class="fa fa-circle color-circle"></i>
    </a>
  </li>
  <li data-menuanchor="desenvolvedores">
    <a href="#desenvolvedores">
      <i class="fa fa-circle"></i>
    </a>
  </li>
</ul>
<div id="fullpage">
  <div class="section " id="section0">
    <div class="page-container">
      <div class="content">
        <div class="container">
          <div class="col-xs-10 col-sm-12">
            <div class="panel-body">
              <h1 class="text-uppercase title-color hidden-xs pull-left">
                <strong>sobre nós
                </strong>| o website</h1>
              <iframe allowTransparency="true" class="pull-right" frameborder="0" height="21" id="like-button" scrolling="no"
                src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=99&layout=button_count&action=like&show_faces=true&share=false&height=21&appId=242848539396940" style="border:none;overflow:hidden"
                width="99"></iframe>
              <h5 class="text-uppercase title-color visible-xs">
                <strong>sobre nós</strong>| o website</h5>
              <div class="text-center clear">
                <img alt="logo-big" class="img-thumbnail img-circle logo-margin" src="/assets/logo-big.png">
                <h2 class="no-margin-no-padding title-color hidden-xs">
                  <strong>Grande Oeste Classificados</strong>
                </h2>
                <h4 class="no-margin-no-padding title-color visible-xs">
                  <strong>Grande Oeste Classificados</strong>
                </h4>
                <p class="page-content">
                  Para suprir a necessidade de um serviço que una agilidade e localização, foi criado o primeiro portal de classificados voltado para à região oeste de Santa Catarina, especificamente para as microrregiões de Chapecó, Xanxerê e Concórdia.
                </p>
                <p>
                  Está em busca de produtos ou serviços? Quer negociar aquele artigo que você tem em casa e não usa mais? Tem um serviço ou uma loja de qualidade e quer divulgá-los? Aqui é o seu lugar!
                </p>
                <p>
                  Além de produtos, você terá a oportunidade de anunciar e buscar quaisquer serviço instantaneamente. E o mais importante, tudo próximo da sua casa, na região da qual você reside.
                </p>
                <p>
                  Utilizando um mecanismo de pesquisa inteligente, encontre facilmente o que você busca em questão de segundos. O seu layout inovador e responsivo cumpre a sua tarefa de manter o usuário confortável em toda a experiência no site, dando-lhe a opção de
                  acessá-lo de qualquer hora ou lugar, independentemente de qual seja o dispositivo.
                </p>
                <p>
                  Fique antenado nos melhorespreços! Navegando pelo feed de notícias, você pode acompanhar todos os novos anúncios e os mais visualizados, e as promoções. Visite a loja virtual de cada anunciante de uma forma totalmente diferente e inovadora!
                </p>
                <p>
                  Não somos uma empresa, somos artistas. Nós conectamos pessoas, pensamos no futuro e na economia do seu dinheiro!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'publics/footerpublics' %>
    </div>
  </div>
  <div class="section" id="section1">
    <div class="page-container">
      <div class="content">
        <div class="container">
          <div class="col-xs-10 col-sm-12">
            <div class="panel-body">
              <h1 class="text-uppercase title-color hidden-xs">
                <strong>sobre nós</strong>
                | desenvolvedores</h1>
              <h5 class="text-uppercase title-color visible-xs">
                <strong>sobre nós</strong>
                | desenvolvedores</h5>
              <div class="col-xs-12 col-sm-3">
                <img alt="developer1" class="img-responsive img-circle developer-margin" src="/assets/developer1.jpg"/>
              </div>
              <div class="col-xs-12 col-sm-9">
                <h3 class="title-color margin-title">Anderson Piva</h3>
                <p>
                  21 anos. Formado em análise e desenvolvimento de sistemas pela Unoesc.
                  <br/>
                  Desenvolvedor web, apaixonado por tecnologia e programação. Fascinado por Java e Ruby on Rails.
                </p>
              </div>
              <div class="col-xs-12 section-margin">
                <div class="col-xs-12 col-sm-3" id="developer2-section">
                  <img alt="developer2" class="img-responsive img-circle" src="/assets/developer2.jpg"/>
                </div>
                <div class="col-xs-12 col-sm-9" id="developer2-section1">
                  <h3 class="title-color">Venícius Marafon</h3>
                  <p class="clear">
                    20 anos. formado em análise e desenvolvimento de sistemas pela Unoesc.
                    <br/>
                    Apaixonado por marketing, desenvolvedor Java e Analista de suporte.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'publics/footerpublics' %>
    </div>
  </div>
</div>
