<%= render 'publics/navbarpublics' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="col-xs-12">
        <div class="panel-body">
          <h1 class="text-uppercase title-color hidden-xs">central de suporte ao usuário</h1>
          <h4 class="text-uppercase title-color visible-xs">central de suporte ao usuário</h4>
          <div class="panel-margin col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="form-horizontal">
              <div class="form-group col-xs-11">
                <div class="col-sm-offset-1">
                  <input class="input-lg form-control" placeholder="O que você está procurando?" type="text"/>
                </div>
              </div>
              <button class="btn btn-primary btn-lg" title="Pesquisar" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="panel panel-default panel-margin col-xs-12 col-sm-4">
            <div class="panel-body text-center">
                <a href="#"><i class="fa fa-support fa-5x"></i> <h3 class="title-color"><strong>Suporte ao Usuário</strong></h3></a>
                <p class="line-height">
                  Procure aqui na nossa base de dados respostas para suas dúvidas.
                </p>
            </div>
          </div>
          <div class="panel panel-default panel-margin col-xs-12 col-sm-4">
            <div class="panel-body text-center">
              <a href="#"><i class="fa fa-question fa-5x"></i> <h3 class="title-color"><strong>Perguntas Frequentes</strong></h3></a>
              <p class="line-height">
                Veja aqui as dúvidas mais frequentes sobre o Grande Oeste Classificados.
              </p>
            </div>
          </div>
          <div class="panel panel-default panel-margin col-xs-12 col-sm-4">
            <div class="panel-body text-center">
              <a href="/contato"><i class="fa fa-envelope-square fa-5x"></i> <h3 class="title-color"><strong>Contato</strong></h3></a>
              <p class="line-height">
                Não tirou suas dúvidas? Entre em contato diretamente conosco.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'publics/footerpublics' %>
</div>
