<%= render 'publics/navbarpublics' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <h1 class="text-uppercase title-color hidden-xs">política de privacidade</h1>
      <h4 class="text-uppercase title-color visible-xs">política de privacidade</h4>
      <div class="form-margin">
        <div class="panel panel-default col-xs-12 col-sm-3">
          <div class="panel-body">
            <h5 class="title-color">
              <strong>
                <i class="fa fa-shield"></i>
                Política de Privacidade</strong>
            </h5>
            <ul class="list-unstyled" id="list-policy">
              <li>
                <a class="scroll title-color" href="#informacoes">
                  <h5>Informações Pessoais</h5>
                </a>
              </li>
              <li>
                <a class="scroll title-color" href="#ads">
                  <h5>Anúncios</h5>
                </a>
              </li>
              <li>
                <a class="scroll title-color" href="#double">
                  <h5>Cookie DoubleClick Dart</h5>
                </a>
              </li>
              <li>
                <a class="scroll title-color" href="#beacons">
                  <h5>Cookies e Web Beacons</h5>
                </a>
              </li>
              <li>
                <a class="scroll title-color" href="#sites">
                  <h5>Ligações a Sites de terceiros</h5>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default col-xs-12 col-sm-personal-more">
          <div class="panel-body">
            <div class="col-xs-12 col-sm-10">
              <h4 class="title-color">
                <strong>Bem-Vindo a Política de Privacidade do Grande Oeste Classificados</strong>
              </h4>
              <p>
                Nosso serviço enfatisa a segurança em primeiro lugar. Quando um usuário realiza seu cadastro, o mesmo confia inúmeras informações pessoais à nossa base de dados. Esta política de privacidade busca deixar claro para os nossos usuários como cada
                informação é devidamente utilizada, vide que é muito importante de que ambas as partes estejam em comum acordo. É de suma importância que antes de realizar o seu cadastro, você deve lê-la cuidadosamente.
              </p>
              <p>
                <a href="/politica_de_privacidade.pdf" target="_blank">
                  <i class="fa fa-file-pdf-o"></i>
                  Baixar a versão em PDF</a>
              </p>
            </div>
            <div class="col-sm-2 hidden-xs text-center">
              <i class="fa fa-shield fa-5x title-color" id="margin-privacy"></i>
            </div>
            <div id="informacoes">
              <div class="col-xs-12 col-sm-10">
                <h4 class="title-color">
                  <strong>Informações Pessoais</strong>
                </h4>
                <p>
                  Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível. A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o
                  Grande Oeste Classificados.
                  <br/>
                  Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Grande Oeste Classificados serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).
                  <br/>
                  A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros. O uso do Grande Oeste Classificados pressupõe a aceitação deste Acordo de privacidade. A equipe do Grande Oeste
                  Classificados reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.
                </p>
              </div>
              <div class="col-sm-2 hidden-xs text-center">
                <i class="fa fa-tags fa-5x margin-privacy title-color" id="margin-privacy-icon-1"></i>
              </div>
            </div>
            <div id="ads">
              <div class="col-xs-12 col-sm-10">
                <h4 class="title-color">
                  <strong>Anúncios</strong>
                </h4>
                <p>
                  Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como o Sapo, Clix, ou outro), o browser que
                  utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou dentro do nosso website.
                </p>
              </div>
              <div class="col-sm-2 hidden-xs text-center">
                <i class="fa fa-ticket fa-5x title-color" id="margin-privacy-icon-2"></i>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10">
              <h4 class="title-color">
                <strong>Cookie DoubleClick Dart</strong>
              </h4>
              <p class="title-color" id="double">
                O Google, como fornecedor de terceiros, utiliza cookies para exibir anúncios no nosso website. Com o cookie DART, o Google pode exibir anúncios com base nas visitas que o leitor fez a outros websites na Internet.
                <br/>
                Os utilizadores podem desativar o cookie DART visitando a
                <a href="http://politicaprivacidade.com/" target="_blank" title="privacidade da rede de conteúdo">privacidade da rede de conteúdo</a>
                e dos anúncios do Google.
              </p>
            </div>
            <div class="col-sm-2 hidden-xs text-center">
              <i class="fa fa-google fa-5x title-color" id="margin-privacy-icon-3"></i>
            </div>
            <div class="col-xs-12 col-sm-10">
              <h4 class="title-color">
                <strong>Cookies e Web Beacons</strong>
              </h4>
              <p id="beacons">
                Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.
                <br/>
                Em adição também utilizamos publicidade de terceiros no nosso website para suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website, o que fará com
                que esses publicitários (como o Google através do Google AdSense) também recebam a sua informação pessoal, como o endereço IP, o seu ISP, o seu browser, etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de Lisboa apenas
                aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direcionada a um tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que visita sites de culinária regularmente, por ex.).
                <br/>
                Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website, ou
                outros websites. Isso poderá afetar ou não permitir que faça logins em programas, sites ou fóruns da nossa e de outras redes.
              </p>
            </div>
            <div class="col-sm-2 hidden-xs text-center">
              <i class="fa fa-btc fa-5x title-color" id="margin-privacy-icon-4"></i>
            </div>
            <div class="col-xs-12 col-sm-10">
              <h4 class="title-color">
                <strong>Ligações a Sites de Terceiros</strong>
              </h4>
              <p id="sites">
                O Grande Oeste Classificados possui ligações para outros sites, os quais, a nosso ver, podem conter informações/ferramentas úteis para os nossos visitantes.
                <br/>
                A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo. Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses
                mesmos sites.
              </p>
            </div>
            <div class="col-sm-2 hidden-xs text-center">
              <i class="fa fa-external-link-square fa-5x title-color" id="margin-privacy-icon-5"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="toTop" class="hidden-xs">
    <a class="title-color" href="">
      <i class="fa fa-angle-double-up fa-5x" title="Voltar ao Topo"></i>
    </a>
  </div>
  <%= render 'publics/footerpublics' %>
</div>
<script type="text/javascript">

</script>
