<%= render 'publics/navbarpublics' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="col-xs-12">
        <div class="panel-body">
          <h1 class="text-uppercase title-color hidden-xs"><strong>contato</strong> | fale conosco</h1>
          <h4 class="text-uppercase titl-color visible-xs"><strong>contato</strong> | fale conosco</h4>
          <h4 class="title-color form-margin line-height">
            Caso você tenha qualquer motivo, seja ele uma dúvida, sugestão ou crítica ligada ao portal Grande Oeste Classificados, pedimos por gentileza para que entre em contato conosco por meio do formulário abaixo. Análisaremos o seu caso o mais rápido possível.
          </h4>
          <div class="form-margin">
            <%= render 'contacts/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'publics/footerpublics' %>
</div>
